name: Build Molecule

on:
  workflow_call:
    inputs:
      molecule_path:
        description: path to molecule to build
        required: true
        type: string
      tag:
        description: tag to tag built images with
        required: true
        type: string
      with_cloud_cache:
        description: whether to use the cloud cache
        required: false
        type: boolean
        default: false
      pattern_cli_version:
        description: Pattern CLI version to install (tag, latest, or branch name)
        required: false
        type: string
        default: latest

jobs:
  build-molecule:
    name: Build ${{ inputs.molecule_path }}
    runs-on: [github-hosted-cloud-builder]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Cloud Deps
        uses: Pattern-Labs/.github/.github/actions/setup_cloud_deps@main
        with:
          repo_access_pat: ${{ secrets.REPO_ACCESS_PAT }}
          docker_user: ${{ secrets.DOCKER_USER }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
          helm_user: ${{ secrets.HELM_USER }}
          helm_password: ${{ secrets.HELM_PASSWORD }}
          pattern_cli_version: ${{ inputs.pattern_cli_version }}

      - name: Set Up Build Cache Credentials
        if: ${{ inputs.with_cloud_cache }}
        env:
          DATA: "${{ secrets.GOOGLE_CLOUD_BUILD_CACHE_ACCESS_KEY }}"
        run: echo $DATA > ./google-services.json

      # we were experiencing some flakiness with authorizing with Docker,
      # try again if we hit an issue and hope it's just flake
      - name: Build Molecule
        uses: nick-fields/retry@v3
        with:
          # can take ~14 min a run, but flake should cut out early
          timeout_minutes: 30
          max_attempts: 2
          command: |
            cd ${{ inputs.molecule_path }}
            pattern molecule build -t ${{ inputs.tag }} --with_cloud_cache=${{ inputs.with_cloud_cache }}
