name: Release Molecule

on:
  workflow_call:
    inputs:
      molecule_path:
        description: path to molecule to release
        required: true
        type: string
      chart_name:
        description: name of the chart to release
        required: true
        type: string
      tag:
        description: tag to tag release chart with
        required: true
        type: string
      pattern_cli_version:
        description: Pattern CLI version to install (tag, latest, or branch name)
        required: false
        type: string
        default: latest
    
jobs:
  release-molecule:
    name: Release ${{ inputs.chart_name }} at ${{ inputs.molecule_path }} 
    runs-on: [github-hosted-cloud-builder]
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Helm
        uses: Azure/setup-helm@v4.3.1
        with:
          version: "v3.19.4"

      - name: Log in to Harbor Registry
        run: |
           echo '${{ secrets.HELM_PASSWORD }}' | helm registry login harbor.rutherford.patternlabs.tech -u '${{ secrets.HELM_USER }}' --password-stdin

      - name: Setup .netrc github.com
        uses: extractions/netrc@v1
        with:
          machine: github.com 
          username: patterngit
          password: ${{ secrets.REPO_ACCESS_PAT }}

      - name: Setup .netrc api.github.com
        uses: extractions/netrc@v1
        with:
          machine: api.github.com
          username: patterngit
          password: ${{ secrets.REPO_ACCESS_PAT }}

      - name: Setup raw.githubusercontent.com
        uses: extractions/netrc@v1
        with:
          machine: raw.githubusercontent.com
          username: patterngit
          password: ${{ secrets.REPO_ACCESS_PAT }}


      - name: Install the Pattern CLI
        uses: Pattern-Labs/.github/.github/actions/pattern_cli@feat/kts/pattern-cli-version-selector
        with:
          version: ${{ inputs.pattern_cli_version }}

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.9.1
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true

      - name: Checkout Code
        uses: actions/checkout@v4
        with: 
          lfs: true

      - name: Release Molecule
        run: |
          cd ${{ inputs.molecule_path }}
          pattern molecule release ${{ inputs.chart_name}} ${{ inputs.tag }}
